<div class="panel panel-default">
  <div class= "panel-body">
  <div class="row">
    <div class="col-md-4">
    <%= image_tag @movie.image.url(:medium) %>
    <div class="star-rating" data-score= <%= @avg_review %> ></div>
    <em><%= "#{@reviews.length} reviews" %></em>
    <div class="table-responsive" >
    <table class="table">
    <tbody>
    <tr>
    <td><strong>Title:</strong></td>
    <td><%= @movie.title %></td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= @movie.desciption %></td>
    </tr>
    <tr>
     <td> <strong>Release date:</strong></td>
     <td> <%= @movie.release_date %></td>
    </tr>
    <tr>
     <td> <strong>Language:</strong></td>
     <td> <%= @movie.language %></td>
    </tr>
    <tr>
     <td> <strong>Duration:</strong></td>
    <td>  <%= @movie.duration %></td>
    </tr>
    <tr>
     <td> <strong>Genre:</strong></td>
    <td>  <%= @movie.genre %></td>
    </tr>
    <tr>
     <td> <strong>Tag:</strong></td>
    <td>  <%= @movie.tag %></td>
    </tr>
    <tr>
     <td> <strong>Movie Crew:</strong></td>
    <td>  <%= @movie.crew %></td>
    </tr>
    </tbody>
    </table>
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %> |
    <%= link_to 'Delete Movie', movies_path, method: :delete, data: {confirm: "Are you sure?" } %>
    </div> 
    </div>
    <div class="col-md-7 cold-md-offset-1" >
    <h1 class="review_title"><%= @movie.title %></h1>
    <p> <%= @movie.desciption %> </p>

    <% if @reviews.blank? %>
    <h3> No reviews yet </h3>
    <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
    <% else %>
      <% @reviews.each do |review| %>
      <div class = "reviews">
      <div class = "star-rating" data-score = <%= review.rating %> > </div>
      <p> <%= review.comment %></p>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to "Write a Review", new_movie_review_path(@movie) %>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>




